@import "./variables/colors";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html { font-size: 62.5%; }

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  background-color: #fff;
}

// Clases
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
