@import "./variables/colors";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html { font-size: 62.5%; }

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  background-color: #fff;
}

// Clases
.container {
  width: 100%;
  margin: 0 auto;

  @include mobile() { max-width: auto; }
  @include tabletSm() { max-width: 540px; }
  @include tablet() { max-width: 720px; }
  @include desktop() { max-width: 960px; }
  @include desktopLg() { max-width: 1140px; }
  @include desktopXlg() { max-width: 1320px; }
}
