@import "@/assets/scss/mixins/utils";

.btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;

  &.small {
    padding: 5px 12px;
    font-size: 1.3rem;
    font-weight: 700;
  }

  &.large {
    padding: 15px 20px;
    font-size: 1.9rem;
  }

  &.primary {
    background-color: var(--primary);

    @include generateFocusRing(var(--primary-50));
  }

  &.rounded { border-radius: 9999px; }
}
